<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="API Functional Tessts">
<test thread-count="5" verbose="2" name="API Functional Tessts">
<classes>   
    <class name="tests.SampleTests"/>
</classes>
</test> <!-- API Regression Suite-->
</suite> <!-- API Regression Suite -->